@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: Papyrus;
    src: url(../papyrus.ttf);
}

body, html {
	height:100%;
	margin:0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

a {
	color:blue;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

header {
	width:100%;
	overflow:auto;
}

header ul {
	list-style: none;
	padding:0px;
	margin:0px;
}

header ul li {
	float:left;
}

header ul li a {
	display:block;
	padding-left: 10px;
	padding-right: 10px;
}

main {
	float: none;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
}

footer {
	margin-top: 25px;
	text-align:center;
}

#comment-box {
	width: 500px;
	height: 300px;
}

.product {
	overflow:auto;
	margin-top: 35px;

}

.product .image {
	width: 15%;
	display:inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	text-align:center;
}

.product .image img {
	width: 90%;
}

.product .description {
	width: 70%;
	display:inline-block;
	box-sizing: border-box;
	padding: 15px;

}

.product .price {
	width: 14%;
	display:inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.pap {
	font-family: Papyrus;
	text-transform: uppercase;
}
